*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{list-style: none;}
a{text-decoration: none;}


#section{
    width: auto;
    margin: 0 auto;
    background: url(../image/00_line.png);
    background-repeat: repeat-x;
}

/* 전체헤더: 1000px */
#header{
    width: 1000px;
    height: 120px;
    margin: 0 auto;
}
#header > div{
    float: left;
}
/* 왼쪽 하단 - lnb: 400px */
#header .left_lnb{
    width: 400px;
    height: 100%;
}
#header .left_lnb .top{
    width: 100%;
    height: 60px;
}
#header .left_lnb .lnb{
    width: 100%;
    height: 60px;
}
#header .left_lnb .lnb ul{
    width: 100%;
    height: 100%;
}
#header .left_lnb .lnb ul li{
    width: calc(100% / 5);
    height: 100%;
    float: left;
    background: url(../image/01_menu_left.jpg);
}
#header .left_lnb .lnb ul li:nth-child(1){
    background-position: 0 0;
}
#header .left_lnb .lnb ul li:nth-child(1):hover{
    background-position: 0 -60px;
}
#header .left_lnb .lnb ul li:nth-child(2){
    background-position: calc(100% * -1) 0;
}
#header .left_lnb .lnb ul li:nth-child(2):hover{
    background-position: calc(100% * -1) -60px;
}
#header .left_lnb .lnb ul li:nth-child(3){
    background-position: calc(100% * -2) 0;
}
#header .left_lnb .lnb ul li:nth-child(3):hover{
    background-position: calc(100% * -2) -60px;
}
#header .left_lnb .lnb ul li:nth-child(4){
    background-position: calc(100% * -3) 0;
}
#header .left_lnb .lnb ul li:nth-child(4):hover{
    background-position: calc(100% * -3) -60px;
}
#header .left_lnb .lnb ul li:nth-child(5){
    background-position: calc(100% * -4) 0;
}
#header .left_lnb .lnb ul li:nth-child(5):hover{
    background-position: calc(100% * -4) -60px;
}

#header .left_lnb .lnb ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-indent: -99999px;
}


/* 로고영역: 200px */
#header .logo{
    width: 200px;
    height: 100%;
    background: url(../image/02_top_logo-1.jpg);
}
#header .logo:hover{
    background: url(../image/02_top_logo-hover.jpg);
}
#header .logo a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-indent: -99999px;
}

/* 오른쪽 하단 - lnb: 400px */
#header .right_lnb
{
    width: 400px;
    height: 100%;
}
/* 오른쪽 상단 - gnb */
#header .right_lnb .gnb{
    width: 100%;
    height: 60px;
    font-size: 12px;
    text-align: center;
    
}
#header .right_lnb .gnb ul{
    width: 240px;
    height: 20px;
    float: right;
    margin-top: 10px;
}
#header .right_lnb .gnb ul li{
    float: left;
    width: calc(100%/4);
    border-left: 2px solid #0cf;
}
#header .right_lnb .gnb ul li:last-child{
    border-right: 2px solid #0cf;
}
#header .right_lnb .gnb ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #0cf;
}

/* 오른쪽 하단 - lnb */
#header .right_lnb .lnb{
    width: 100%;
    height: 60px;
}
#header .right_lnb .lnb ul{
    width: 100%;
    height: 100%;
}
#header .right_lnb .lnb ul li{
    width: calc(100% / 6);
    height: 100%;
    float: left;
    background: url(../image/03_menu_right.jpg);
}
#header .right_lnb .lnb ul li:nth-child(1){
    background-position: 0 0;
}
#header .right_lnb .lnb ul li:nth-child(1):hover{
    background-position: 0 -60px;
}
#header .right_lnb .lnb ul li:nth-child(2){
    background-position: calc(100% * -1) 0;
}
#header .right_lnb .lnb ul li:nth-child(2):hover{
    background-position: calc(100% * -1) -60px;
}
#header .right_lnb .lnb ul li:nth-child(3){
    background-position: calc(100% * -2) 0;
}
#header .right_lnb .lnb ul li:nth-child(3):hover{
    background-position: calc(100% * -2) -60px;
}
#header .right_lnb .lnb ul li:nth-child(4){
    background-position: calc(100% * -3) 0;
}
#header .right_lnb .lnb ul li:nth-child(4):hover{
    background-position: calc(100% * -3) -60px;
}
#header .right_lnb .lnb ul li:nth-child(5){
    background-position: calc(100% * -4) 0;
}
#header .right_lnb .lnb ul li:nth-child(5):hover{
    background-position: calc(100% * -4) -60px;
}
#header .right_lnb .lnb ul li:nth-child(6){
    background-position: calc(100% * -5) 0;
}
#header .right_lnb .lnb ul li:nth-child(6):hover{
    background-position: calc(100% * -5) -60px;
}
#header .right_lnb .lnb ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-indent: -99999px;
}

/* 메인 콘텐츠 영역: */
#content{
    width: 1000px;
    height: 100%;
    background: url(../image/main_img.jpg);
    margin: 0 auto;
}


/* 전체 푸터영역 */
#footer{
    width: 100%;
    height: 100px;
    font-size: 12px;
    text-align: center;
    color: #0cf;
    margin: 0 auto;
}
/* 푸터 fnb */
#footer .fnb{
    width: 100%;
    height: 50px;
    background: url(../image/99_bottom_line.png);
    background-repeat: repeat-x;
}
#footer .fnb ul{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
#footer .fnb ul li{
    width: calc(100%/5);
    height: 100%;
    float: left;
    background: url(../image/99_bottom_logo.jpg);
}
#footer .fnb ul li:nth-child(1){
    background-position: 0 0;
}
#footer .fnb ul li:nth-child(1):hover{
    background-position: 0 -50px;
}
#footer .fnb ul li:nth-child(2){
    background-position: calc(100% * -1) 0;
}
#footer .fnb ul li:nth-child(2):hover{
    background-position: calc(100% * -1) -50px;
}
#footer .fnb ul li:nth-child(3){
    background-position: calc(100% * -2) 0;
}
#footer .fnb ul li:nth-child(3):hover{
    background-position: calc(100% * -2) -50px;
}
#footer .fnb ul li:nth-child(4){
    background-position: calc(100% * -3) 0;
}
#footer .fnb ul li:nth-child(4):hover{
    background-position: calc(100% * -3) -50px;
}
#footer .fnb ul li:nth-child(5){
    background-position: calc(100% * -4) 0;
}
#footer .fnb ul li:nth-child(5):hover{
    background-position: calc(100% * -4) -50px;
}
#footer .fnb ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-indent: -99999px;
}

/* 푸터 주소 영역 */
#footer .address{
    font-style: normal;
}
#footer .address a{
    color: #0cf;
}


