*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}


#wrap{
    width: auto;
}

.hidden{
    /* 시각적으로 영역을 차지하지 않도록 */
    float: left;
    /* 시각적인 위치만 브라우저 바깥으로 이동 */
    text-indent: -9999px;
}

a:hover{
    color:#ddd !important
}

/* 헤더영역 */
#header{
    width: 100%;
    height: 120px;
    /* margin: 0 auto; */
}
#header .headerContainer{
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
#header .topContainer{
    width: 1110px;
    height: 70%;
    margin: 0 auto
}
#header .topContainer > li{
    float: left;
}
#header .topContainer .gnb{
    float: right;
    /* width: 30%; */
}
#header .topContainer .gnb ul{
    height: 100%;
}
#header .topContainer .gnb ul li{
    /* width: calc(100%/5); */
    height: 100%;
    float: left;
    padding: 0 10px;
    border-right: 1px solid #555;
}
#header .topContainer .gnb ul li:first-child{
    border-left: 1px solid #555;
}
#header .topContainer .gnb ul li a{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #303030;
    text-align: center;
    width: 100%;
    height: 100%;
}
#header .bottomContainer{
    width: 100%;
    height: 30%;
    border-top: 1px solid #ccc;
}
#header .bottomContainer ul{
    width: 1110px;
    margin: 0 auto;
}
#header .bottomContainer ul li{
    float: left;
    /* width: 9%; */
    height: 100%;
    margin: 0 10px;
    /* position: relative; */
}
#header .bottomContainer> ul > li > a{
    color: #303030;
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}


/* mainBanner */
#mainBanner{
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
    text-align: center;
    background: url(../images/main_img_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}
#mainBanner a{
    display: inline-block;
    width: 1110px;
    height: 100%;
}
#mainBanner img{
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* subBanner */
#subBanner{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
#subBanner ul{
    width: 1110px;
    margin: 0 auto;
}
#subBanner ul li{
    float: left;
    width: calc(100%/4);
}
#subBanner ul li a{
    display: inline-block;
    width: 100%;
    width: 100%;
    text-align: center;
}

/* bestProduct */
#bestProduct{
    margin: 20px 0 30px 0;
    width: 100%;
}
#bestProduct .container{
    width: 1110px;
    margin: 0 auto;
}
#bestProduct p{
    width: 100%;
    font-size: 24px;

}
#bestProduct ul{
    width: 100%;
    text-align: center;
}
#bestProduct ul li{
    float: left;
    width: calc(100%/4);
}
#bestProduct ul li a{
    display: inline-block;
    width: 100%;
    width: 100%;
    text-align: center;
}


/* footer */
#footer{
    border-top: 1px solid #555;
    margin-bottom: 30px;
    width: 100%;
}
#footer .footerContainer{
    width: 1110px;
    margin: 0 auto;
}
#footer .footerContainer .leftContainer{
    margin:30px 40px 0 0
}

#footer .footerContainer > li{
    float: left;
}
#footer .footerContainer .fnb{
    margin: 5px 0
}
#footer .footerContainer .fnb li{
    float: left;
    margin-right: 10px;
}
#footer .footerContainer .fnb li a{
    color:#303030;
    font-size: 14px;
    font-weight: bold;
}
#footer .footerContainer .address{
    font-size: 14px;
}
#footer .footerContainer .address address{
    font-style: normal;
}